@import "../var";

@include b(event-timed) {
  cursor: pointer;
}

@include b(event-draggable) {
  user-select: none;
}

@include b(event-drag-bottom) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 4px;
  cursor: ns-resize;

  &:hover {
    &::after {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    height: 2px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 16px;
    margin-left: -8px;
    opacity: .8;
  }
}